<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <h1>To Do List</h1>

    <div id="collections">
        {% for collection in collections %}
            {% include 'tasks/collection.html' with collection=collection %}
        {% endfor %}
    </div>
    

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="collection-name">
        <button type="submit"
            hx-post="{% url 'add-collection' %}"
            hx-target="#collections"
            hx-swap="beforeend"
        >Ajouter</button>

    </form>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="task-description">
        <button type="submit"
            hx-post="{% url 'add-task' %}"
            hx-target="#tasks"
            hx-vals='js:{collection: getCollectionFromUrl()}'
            hx-swap="beforeend"
        >Ajouter</button>
    </form>

    <div>
        {% include 'tasks/tasks.html' with tasks=tasks collection=collection %}
    </div>
        

    <script>
        document.body.addEventListener("htmx:responseError", function(evt) {
            alert(evt.detail.xhr.responseText);
        })

        function getCollectionFromUrl() {
            let url = new URL(window.location.href);
            let searchParams = url.searchParams;
            return searchParams.get("collection");
        }
    </script>
    
</body>
</html>