<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <h1>To Do List</h1>

    <div id="collections">
        {% for collection in collections %}
            <h2>{{ collection.name }}</h2>
        {% endfor %}
    </div>
    

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="collection-name">
        <button type="submit"
            hx-post="{% url 'add-collection' %}"
            hx-target="#collections"
            hx-swap="beforeend"
        >Ajouter</button>

    </form>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="task-description">
        <button type="submit"
            hx-post="{% url 'add-task' %}"
            hx-target="#tasks"
            hx-swap="beforeend"
        >Ajouter</button>
    </form>

    <div id="tasks">
        {% for task in tasks %}
            <p>{{ tasks.description }}</p>
        {% endfor %}
    </div>
        

    <script>
        document.body.addEventListener("htmx:responseError", function(event) {
            console.log(event.detail.xhr.responseText);
        })
    </script>
    
</body>
</html>